.bg-green {
	background-color: $brand-green;
}

#contact {
    padding-top: 8rem !important; // 128px
    
    @include responsive($breakpoint-lg) {
        padding-top: 10rem !important; // 160px
    }
}
