#colophon {
  a[href*="instagram"] svg,
  a[href*="spotify"] svg,
  a[href*="youtube"] svg,
  a[href*="linkedin"] svg {
    width: 3.75rem !important;
    height: 3.75rem !important;
    min-width: 3.75rem !important;
    min-height: 3.75rem !important;
    display: block !important;

    @include responsive($breakpoint-lg) {
      width: 4.5rem !important;
      height: 4.5rem !important;
      min-width: 4.5rem !important;
      min-height: 4.5rem !important;
    }
  }

  .footer-copyright {
    margin-top: 6rem !important;

    @include responsive($breakpoint-lg) {
      margin-top: 8rem !important;
    }
  }
}
