/**
 * Main SCSS file
 * Import all partials here
 */

// Base styles
@import 'base/colors';
@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';
@import 'base/fonts';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/hero';
@import 'components/about';
@import 'components/transition';
@import 'components/contact';
@import 'components/podcast';
@import 'components/newsletter';

// Layouts
@import 'layouts/home';
@import 'layouts/pages';

// Utilities
@import 'utilities/helpers';


