// Brand Colors
$brand-green: #18C8BB;
$brand-gold: #f9a234;
$brand-orange: #ff6b35;

// Gradient Colors
$brand-green-mid: #3c8e5a;
$brand-green-light: #749d41;
$brand-gold-dark: #b4a42a;

// Neutrals
$white: #ffffff;
$black: #000000;

// Specifics
$green-50: #f0fdf4;
