/**
 * Utility Classes
 */

// Colors
.text-brand-green {
	color: $brand-green !important;
}

.text-brand-gold {
	color: $brand-gold !important;
}

.text-white {
	color: $white !important;
}

.text-gray-900 {
	color: #1a202c !important;
}

// Typography
.font-bold {
	font-weight: 700 !important;
}


