/**
 * Utility Classes
 */

// Colors
.text-brand-green {
	color: $brand-green !important;
}

.text-brand-gold {
	color: $brand-gold !important;
}

.text-white {
	color: $white !important;
}

.text-gray-900 {
	color: #1a202c !important;
}

// Typography
.font-bold {
	font-weight: 700 !important;
}



// Scrollbar
.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    // Firefox
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
}
